.info-box {
    width: 50%;
    height: 500px;
    margin: auto;
    border: solid 2px black;
}
.covid-msg {
    width: 80%;
    height: 400px;
    margin: auto;
    border: solid 2px black;
}
.confirm-btn {
    width: 100px;
    height: 50px;
    margin: auto;
}