body{
  background-image: url(../img/bg2.jpg);
  padding: 10px;
  margin-top: 140px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.top, .top>div{
  display: inline-block;
  min-width: 0;
}

.img img{
  width: 24vw;
  height: 35vh;
  margin-left: 3vw;
  margin-right: 1vw;
}

.video iframe{
  height: 35vh;
  width: 65vw;
  margin-right: 3vw;
}

.Main{
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  margin-top: 1vh;
  margin-right: 1vw;
  margin-left: 4.5vw;
  width: 90vw;
  color: white;
}

.Main h1{
  font-style: italic;
  font-weight: bold;
}

.Main p, .actorHeader{
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}

.Main .tags{
  margin: 2px;
}

.Main_left{
  border: 1px solid white;
  border-radius: 8px;
  width: 75%;
  margin: 5px;
}

.Main_right{
  justify-self: end;
  border: 1px solid white;
  border-radius: 8px;
  width: 20%;
  font-style: italic;
  font-weight: bold;
  float: right;
  margin: 5px;
}

.Main_right div {
  text-align: center;
  height: max-content;
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 8px;
}

.casting{
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  margin-top: 1vh;
  margin-right: 1vw;
  margin-left: 4.5vw;
  width: 90vw;
  color: white;
  border-radius: 8px;
}

.cast_left{
  border: 1px solid white;
  border-radius: 8px;
  width: 75%;
  height: inherit;
  margin: 5px;
}

.cast_right{
  justify-self: end;
  border: 1px solid white;
  border-radius: 8px;
  width: 20%;
  height: inherit;
  float: right;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.cast_left div {
  text-align: center;
  height: 20%;
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 8px;
}

h1{
  text-align: center;
}

.tagbtn{
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 20px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 2px;
  min-height: 40px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 18%;
  will-change: transform;
}

.tagbtn:disabled {
  pointer-events: none;
}

.tagbtn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.tagbtn:active {
  box-shadow: none;
  transform: translateY(0);
}

.actbtn {
  appearance: none;
  background-color: transparent;
  border: 2px solid lightyellow;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 5px;
  min-height: 40px;
  min-width: 0;
  outline: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 23%;
  will-change: transform;
}

.actbtn:disabled {
  pointer-events: none;
}

.actbtn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.actbtn:active {
  box-shadow: none;
  transform: translateY(0);
}

.userAction {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  border: 1px solid white;
  width: 60%;
  margin: 5px 20%;
  color: white;
}

.btn-secondary {
  display: inline-block;
  width: auto;
  margin: 40px 0 0;
  padding: 40px 0 0;
  font-size: 18px;
  border-top: 10px dashed #eee;
  text-align: center;
}
.btn-secondary {
  display: block;
  margin: 5px;
  text-align: center;
  background: gray;
  border-radius: 3px;
  box-shadow: 0 10px 20px -8px gray;
  padding: 10px 17px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn-secondary:hover {
  transform: translateY(-3px);
}
.btn-secondary .fa {
  margin-right: 5px;
}
.animate-like {
animation-name: likeAnimation;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-duration: 0.55s;
}
@keyframes likeAnimation {
0%   { transform: scale(15); }
100% { transform: scale(1); }
}